@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --main-width: 1100px;
}

.text-color-gray {
  color: #3a3a3a;
}

header {
  margin-top: 20px;
}

header h1 {
  font-size: 26px;
  font-weight: 700;
}

header nav {
  max-width: var(--main-width);
  padding: 20px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  display: flex;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  margin-left: 30px;
  font-size: 17px;
  color: #3a3a3a;
  transition: all 0.5s;
}

header nav ul li a:hover {
  color: #e02c6d;
}

/* hero section style start */
.hero-section {
  margin-top: 50px;
}

.hero-container {
  max-width: var(--main-width);
  margin: 0 auto;
  display: flex;
  flex: 1;
  gap: 10px;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid rgb(207, 201, 201);
}

.hero-title,
.hero-image {
  width: 50%;
}

.hero-title h1 {
  font-size: 44px;
  font-weight: 700;
  color: #3a3a3a;
}

.hero-title p {
  padding: 10px 0;
}

.hero-title button {
  padding: 10px 30px;
  background-color: #e02c6d;
  border-radius: 30px;
  border: none;
  font-size: 16px;
  color: white;
  font-weight: 500;
  margin-top: 15px;
  cursor: pointer;
  transition: all 0.3s;
}

.hero-title button:hover {
  background-color: black;
}

.hero-image {
  background-image: url("images/Circle design.svg");
  background-repeat: no-repeat;
  background-size: 100% 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image img {
  display: block;
  max-width: 400px;
  margin: 0 auto;
}

/* sponsor section start */

.sponsor-section {
  max-width: var(--main-width);
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-bottom: 1px solid rgb(207, 201, 201);
  padding-bottom: 30px;
}

/* ----------------pupolre section style start------------------ */

.pupoler-section {
  margin-top: 30px;
  max-width: var(--main-width);
  margin: 70px auto;
}

.pupoler-section h2 {
  color: #3a3a3a;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  text-align: center;
}

.pupoler-section > p {
  text-align: end;
  margin-top: 20px;
}

.pupoler-section > p > a {
  text-decoration: none;
  color: #e02c6d;
}

.pupoler-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-top: 30px;
}

.pupoler-card {
  cursor: pointer;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  padding: 20px 0;
}

.pupoler-card img {
  width: 90%;
  display: block;
  margin: auto;
}

.pupoler-card h3 {
  color: #3a3a3a;
  font-size: 20px;
  padding: 10px 20px;
}

.pupoler-card p {
  padding: 0 20px;
}

/*-------- featured section start -------------*/

.featured-section {
  max-width: var(--main-width);
  margin: 20px auto;
  display: flex;
  gap: 20px;
}

.featured-content {
  padding: 10px 30px;
}

.featured-content h1 {
  font-size: 35px;
  font-weight: bold;
  color: #0a0826;
}

.featured-content p {
  padding: 10px 0;
  line-height: 26px;
  font-weight: 400;
  color: #3a3a3a;
}

.featured-content button {
  padding: 10px 30px;
  border: none;
  border-radius: 8px;
  background-color: #e02c6d;
  color: #fff;
  font-size: 18px;
  margin-top: 30px;
  cursor: pointer;
  transition: all 0.5s;
}

.featured-content button:hover {
  background-color: black;
}

.featured-content button i {
  margin-left: 20px;
}

/* responsive design start */

/* mobile design start */

@media screen and (max-width: 576px) {
  .hero-container,
  header nav {
    flex-direction: column;
  }

  .pupoler-container {
    width: 95%;
    grid-template-columns: 1fr;
    margin: auto;
  }

  .hero-image,
  .hero-title {
    width: 95%;
    margin: 0 auto;
  }

  header nav ul li a {
    margin-left: 15px;
  }

  .hero-image img {
    max-width: 350px;
  }
}

/* tablet design start */

@media screen and (min-width: 576px) and (max-width: 960px) {
  header nav {
    flex-direction: column;
  }

  .sponsor-section,
  .pupoler-container {
    width: 95%;
    margin: auto;
  }
}
